<form id="add-contact" method="post" action="/">
  <input
    class="contact-form"
    type="text"
    placeholder="Enter full name"
    name="fullname"
  />
  <input
    class="contact-form"
    type="text"
    placeholder="Enter email address"
    name="email"
  />
  <input
    class="contact-form"
    type="text"
    placeholder="Enter phone number"
    name="phone"
  />
  <input
    class="contact-form"
    type="text"
    placeholder="Enter postal address"
    name="address"
  />
  <div>
    <input class="btn" id="btnAdd" type="button" value="ADD" />
    <input class="btn" id="btnUpd" type="button" value="UPDATE" />

  </div>
</form>