<header>
  <h1>{{title}}</h1>
</header>
<nav id="main-nav"></nav>
<div id="container">
  <div id="map-container">

  </div>

  <div id="contacts">
    <div id="contact-list"></div>
    <div id="contact-edit"></div>
  </div>
</div>

<footer>

</footer>